.col-md-4{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	background-color:#85cb65;
	

}

.col-md-6{
	
padding-top: 10px;	
padding-bottom: 10px;	
margin-bottom: 10px;
margin-left: 10px;	
background-color: #f1f1f1;
}